<section class="section">
<div class="container">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus accusantium corporis consequatur, neque ut sunt.</p>
    <ul class="team-list">
        <li class="team-item">
            <img src="" alt="" class="team-photo">
            <h3 class="team-subtitle"></h3>
            <p class="team-text"></p>
        </li>
        <li class="team-item">
            <img src="" alt="" class="team-photo">
            <h3 class="team-subtitle"></h3>
            <p class="team-text"></p>
        </li>
        <li class="team-item">
            <img src="" alt="" class="team-photo">
            <h3 class="team-subtitle"></h3>
            <p class="team-text"></p>
        </li>
    </ul>
</div>
</section>